<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Pick Your Boss</title>

	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom fonts for this template -->
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

	<!-- Plugin CSS -->
	<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">Pick Your Boss</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#start"><%= __('Get going') %></a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#whatsthis"><%= __('What\'s this?') %></a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger" href="#contact"><%= __('Contact') %></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<header class="masthead text-center text-white d-flex">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1 class="text-uppercase">
						<strong><%= __('Is the boss you have the boss you deserve?') %></strong>
					</h1>
					<hr>
				</div>
				<div class="col-lg-8 mx-auto">
					<p class="text-faded mb-5"><%= __(`Enter your company and choose who you would like to be
						your boss. Then, find out whom others have chosen`) %></p>
					<a class="btn btn-primary btn-xl js-scroll-trigger" href="#start"><%= __('Get going') %></a>
				</div>
			</div>
		</div>
	</header>

	<section class="bg-primary" id="start">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<h2 class="section-heading text-white">Ready to go?</h2>
					<hr class="light my-4">

					<div id="pyb-main">
						<div class="pyb-company">
							<p class="text-faded mb-4"> Enter your company below to proceed to the next step.</p>
							<form class="pyb-company">
								<div class="form-group">
									<input type="text" name="company" id="company" class="form-control-lg" placeholder="Your Company" required>
								</div>
								<button class="btn btn-light btn-xl">Next <i class="fa fa-arrow-right"></i></button>
							</form>

						</div>

						<div class="pyb-boss d-none">
							<p class="text-faded mb-4"> Great! Now tell us who in your company would be your ideal boss.</p>
							<form class="pyb-boss">
								<div class="form-group">
									<input type="text" name="boss" id="boss" class="form-control-lg" placeholder="The boss of your dreams" required>
								</div>
								<button class="btn btn-light btn-xl">Next <i class="fa fa-arrow-right"></i></button>
							</form>
						</div>

						<div class="pyb-results d-none">
							<p class="text-faded mb-4"> Thanks! Now let's see what others from your company have said.</p>


						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="whatsthis">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading"><%= __('What\'s this?') %></h2>
					<hr class="my-4">
					<p class="mb-5">The idea behind <em>Picking your Boss</em> is rather simple!</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<i class="fa fa-4x fa-building text-primary mb-3 sr-icons"></i>
						<h3 class="mb-3">Select a company</h3>
						<p class="text-muted mb-0">Try to type it correctly so your answers can be matched with others people's.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<i class="fa fa-4x fa-user text-primary mb-3 sr-icons"></i>
						<h3 class="mb-3">Pick your boss</h3>
						<p class="text-muted mb-0">Tell us who in your company you'd like to be your boss!</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<i class="fa fa-4x fa-pie-chart text-primary mb-3 sr-icons"></i>
						<h3 class="mb-3">See the stats</h3>
						<p class="text-muted mb-0">See who others have chosen to be their boss.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<i class="fa fa-4x fa-share text-primary mb-3 sr-icons"></i>
						<h3 class="mb-3">Share</h3>
						<p class="text-muted mb-0">Share this site and encourage others to participate!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="mb-2 lead">
						Want more details? Sure thing!
					</p>
					<p class="mb-1">
						Pick your boss is a stupidly simple but nontheless (possibly) interesting
						social experiment. It asks two questions:
					</p>
					<ol class="mb-2">
						<li>What would happen if you could pick your own boss among everyone at your company?</li>
						<li>What wuold happen if everyone else at your company could do this as well?</li>
					</ol>

					<p class="mb-1">
						The resulting <em>questions</em> are probably far more interesting than the
						basic <em>premises</em>. How would power dynamics change? Would current bosses still
						have employees below them? Would leadership concentrate on few selected
						individuals or be spread out evenly? What would either of that say about the
						leadership abilities of you and your coworkers?
					</p>

					<p class="mb-3">
						This experiment can only thrive if as many people as possible from your company
						join and cast their vote. So do <strong>encourage them</strong> if you wish to see a more
						representative picture.
					</p>

					<p class="mb-5">
						<strong>But please keep in mind</strong>: Just because people choose their favorite superior it does
						not say anything about the qualifications or abilities of that person. Sometimes,
						we pick what seems best but actually is worst for us.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="p-0" id="portfolio">
		<div class="container-fluid p-0">
			<div class="row no-gutters popup-gallery">
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6">
					<a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
						<img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									Category
								</div>
								<div class="project-name">
									Project Name
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-dark text-white">
		<div class="container text-center">
			<h2 class="mb-4">Free Download at Start Bootstrap!</h2>
			<a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
		</div>
	</section>

	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<h2 class="section-heading">Let's Get In Touch!</h2>
					<hr class="my-4">
					<p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 ml-auto text-center">
					<i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
					<p>123-456-6789</p>
				</div>
				<div class="col-lg-4 mr-auto text-center">
					<i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
					<p>
						<a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Custom scripts for this template -->
	<script src="js/creative.min.js"></script>
	<script src="js/pyb.js"></script>

</body>

</html>
